:root {
    --background-light: #fff;
    --background-dark: #111;
    --background-roxo: mediumpurple;
    --background-blue: blue;
    --background-yellow: yellow;
    --background-red: red;
    --background-green: green;
    --font-color-light: #f5f5f5;
}